*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Boboto', sans-serif;
}

h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.25em;
}
ul{
    list-style-type: none;
}
li{
    font-size: 1.25em;
}

#somos-proya .Color-acento{
    color: blueviolet;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 10px rgba(192, 22, 22);
    color: white;
    background-color: rgb(116, 115, 116);
}
button:hover{
    background-color: black;
}
button::selection{
    background-color: aqua;
}
.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(240,240,240);
}

header .logo{
    margin: 0;

}
header .logo{
    padding: 25px 30px;
    font-weight: bold;
    color:blueviolet;
    font-size: 2.5em ;
}

header .row{
    background-color: rgb(240,240,240) ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: none;
}

header .column{
    margin: 20px;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}

header nav{
    text-align: center;
}

header .color-a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header .color-a:hover{
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 1.5);
}

#hero{
    margin-top: 20px;
    
    display:flex;align-items: center ;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../media/logo.jpg);
    box-shadow: -20px 14px 53px -2px rgba(255, 28, 28, 0.43);
    -webkit-box-shadow: -20px 14px 53px -2px rgba(165, 37, 37, 0.43);
    -moz-box-shadow: -20px 14px 53px -2px rgba(237, 20, 20, 0.43); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
}

#hero button{
    font-size: 1.75em ;

}


#somos-proya .container{
    text-align: center;
    padding: 120px 12px;
}

#Nuestros-programas{
    background-color: rgba(30,30,30);
    color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: -20px 14px 53px -2px rgba(255, 28, 28, 0.43);
    -webkit-box-shadow: -20px 14px 53px -2px rgba(165, 37, 37, 0.43);
    -moz-box-shadow: -20px 14px 53px -2px rgba(237, 20, 20, 0.43); 
}
#Nuestros-programas .container{
    padding: 100px 0px;
}
#Nuestros-programas h2{
    margin-top: 0;
    font-size: 3em;
}

#Nuestros-programas .cartas{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 15px;
    border-radius: 15px;
}

.cartas:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../media/frontend.jpg);
    background-position: center center;
    background-size:cover;
}
.cartas:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../media/developer.jpg);
}
.cartas:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../media/Backend-solution.jpg);
}


#caracteristicas .container{
    text-align: center;
    position: relative;
    padding: 0%;
}


#caracteristicas li{
    display:flex;
    align-items: flex-start ;
    justify-content: flex-start;
    font-weight: bold;
}

#caracteristicas .espacio-1{
    padding-top: 10%;
}

#caracteristicas .espacio-2{
    padding-bottom: 10%;
}

#caracteristicas .borde-lat{
    padding-left: 5%;
    padding-right: 40%;
    margin: 2px;
}

#caracteristicas .z-depth-2r{
    border-radius: 20px;
    background-image: linear-gradient(to top,#918C8B  -50%,white  100%);
}

#final{
    display:flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    text-align: center;
    padding: 40px;
    width: 80%;
    margin-bottom: 40px;
    border-radius: 10%;
}


#final h2{
    font-size: 9vh;
}

#final button{
    font-size: 5vh;
    text-align: center;
}

#final button:hover{
    background-color: black;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    color: rgb(100,100,100);
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px) {
    header .container{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 5px;
    }

    header a{
        padding: 0;
        margin: 15px;
    }

}

#Nuestros-programas .hide{
    display: none;
}

.show{
    display: block;
}

@media (max-width: 800px){
    .logo{
        text-align: center;
    }

    header a{
        padding: 20px;
        margin: 15px;
        font-size: 1.2rem;
    }

    header .container{
        width: 100%;
    }

}

@media (max-width:620px){

    header .container{
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: center;
        border-bottom: 1px solid rgb(180, 180, 180);
    }

    

    header nav{
        height: 25%;
        flex-direction: column;
        flex: 1;
    }

    #final h2{
        font-size: 4rem;
    }
}

#caracteristicas ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.xxx{
    flex: 1;
}

#caracteristicas img{
    flex: 1;
    margin-top: 10%;
    margin-right: 5%;
}

